*.als
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.bib
*.blg
*.commandment
*.definition
*.devenv
*.direnv
.direnv
*.fdb_latexmk
*.fls
*.gz
*.idx
*.ilg
*.ind
*.law
*.listing
*.lof
*.log
*.lot
_minted*
*.out
*.pdf
result
samples/
*.synctex.gz
*.toc
*.xml
